body{background-color: white;}
*{
  box-sizing: border-box;
}
 table{
  border-collapse: collapse;
  margin-left: 100px;
  border-color: 
  #DADADA;
 }
  .ID{
    width: 201px;
    height: 45px;
    border: 1px solid #E0E0E0;
   border-radius: 10px;
   outline: none;
    

   }
    .title{
     width: 593px;
     height: 45px;
     border: 1px solid #E0E0E0;
     border-radius: 10px;
     outline: none;
     margin-left: 12px;
    
    }
     .c1{
      width: 201px;
      height: 45px;
      border: 1px solid #E0E0E0;
      border-radius: 10px;
      margin-left: 12px;
      outline: none;
      }
       .b1{
        width: 115px;
        height: 45px;
        background: #FFD43A;
        border-radius: 10px;
        margin-left: 12px;
        outline: none;
        border: none;
       }
        .h{
          width: 152px;
          height: 22px;
          left: 141px;
          top: 213px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          color: #000000;
          margin-left: 100px;
          }
           .g{width: 16px;
            height: 22px;
            left: 142px;
            top: 93px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            padding-right: 180px;
           }
            .g1{
              width: 49px;
              height: 22px;
              left: 356px;
              top: 93px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              line-height: 18px;
              padding-right: 540px;
              color: #000000;
              }
               .g2{
                width: 109px;
                height: 22px;
                left: 966px;
                top: 93px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                padding-right: 110px;
                color: #000000;
                }
                 .g3{
                  width: 69px;
                  height: 22px;
                  left: 1213px;
                  top: 90px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 15px;
                  line-height: 18px;
                  }
                   .h5{
                    height: 57px;
                    background-color: 
                    #F9F9F9;
                    }
 .t1{
  width: 72px;
  height: 57px;
  left: 141px;
  top: 258px;
  border: 1px solid #DADADA;
  text-align: center;
  background: #FFFFFF
  
  }
   .h2{
    width: 444px;
    height: 57px;
    left: 212px;
    top: 258px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    text-align: center;
    }
     .h3{
      width: 276px;
      height: 57px;
      left: 655px;
      top: 258px;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #DADADA
      }
       .t4{
        width: 368px;
        height: 57px;
        left: 930px;
        top: 258px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        display: flex;
        justify-content: center;
        
        }
         .yellow{
          width: 115px;
          height: 36px;
          left: 1005px;
          top: 324px;
          background: #FFD43A;
          border-radius: 10px;
          border: none;
          
          }
          .red{
            width: 115px;
            height: 36px;
            left: 1128px;
            top: 324px;
            background: #E84949;
            border-radius: 10px;
            border: none;
            outline: none;
          }
           .d{
            display: flex;
            justify-content: center;
            gap: 10px;
            padding-top: 10px;
           }